<!DOCTYPE html>
<html>
<head>
    <title>Calculus</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1 class="title">Calculus</h1>
<form name="calculus" method="POST" action="/calculus">
    <table>
        <tr>
            <td>First Operand</td>
            <td><input type="number" id="first-operand" name="First operand"></td>
        </tr>
        <tr>
            <td>Second Operand</td>
            <td><input type="number" id="second-operand" name="Second operand"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Sum"></td>
        </tr>
    </table>
</form>
</body>
</html>
