<!DOCTYPE html>
<html>
<head>
    <title>Calculus Result</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1 class="title">Calculus Result</h1>
<p>The sum result is: <%= result %></p>

<a href="/calculus"><button>New calculus</button></a>

</body>
</html>
