<h1>Validation Error</h1>
<p>Un ou plusieurs champs sont incorrects</p>
<% failedFields.forEach(failedFields => { %>
        <p><%= failedFields.fieldName %> - <%= failedFields.errorMessage %></p>
<% }) %>