<!DOCTYPE html>
<html>
  <head>
    <title>Dog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 class="title">Dogs</h1>
          <ul>
                <li>
                    <%= dog.name %> - <%= dog.age %>
                </li>
          </ul>
  </body>
</html>
