<!DOCTYPE html>
<html>
  <head>
    <title>Dogs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 class="title">Voici Votre chien</h1>
                             <p>Le nom de votre chien est : </p> <%= dog.name %> <p> son age est de :  </p> <%= dog.age %> ans
  </body>
</html>

<style>
p{
font-weight : bold;
}


</style>
