<!DOCTYPE html>
<html>
  <head>
    <title>Dogs Id</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 class="title">Dogs id</h1>
      dogid : <%= dog.id %> - <%= dog.name %>
     
      
  </body>
</html>
