<!DOCTYPE html>
<html>
  <head>
    <title>Dogs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 class="title">Dog <%= dog.id %></h1>
      <%= dog.name %> - <%= dog.age %>
  </body>
</html>
