<!DOCTYPE html>
<html>
  <head>
    <title>Dogs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 class="title">Dogs</h1>
      <% if(dogs.length === 0) {%>
        No dogs
      <% } else { %>
          <ul>
              <% dogs.forEach(dog => { %>
                  <li>
                      <%= dog.name %> - <%= dog.age %>
                  </li>
              <% }) %>
          </ul>
      <% } %>
      <a href="/dogs/new">Add a dog</a>
  </body>
</html>
