<!DOCTYPE html>
<html>
<head>
    <title>Dog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1 class="title">Dog</h1>
<form name="dogs" method="POST" action="/dogs/new">
    <table>
        <tr>
            <td>Age</td>
            <td><input type="number" id="Age" name="Age"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input id="Name" name="Name"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Add Dog"></td>
        </tr>
    </table>
</form>