<!DOCTYPE html>
<html>
<head>
    <title>Create Dog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1 class="title">Create</h1>
<form name="create" method="POST" action="/dogs/new">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" id="name" name="name"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" id="age" name="age"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>
