<!DOCTYPE html>
<html>
  <head>
    <title>Dogs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="title">New Dog</h1>
    <form name="formAdd" method="POST" action="/dogs/new">
        Name:
        <input type="text" name="name">
        <br>
        Age:
        <input type="text" name="age">
        <br>
        <input type="submit" value="Add">
    </form>
  </body>
</html>
