<!DOCTYPE html>
<html>
<head>
    <title>New Dog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1 class="title">New Dog</h1>
<form name="dog" method="POST" action="/dog">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" id="dog_name" name="Dog name"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" id="dog-age" name="Dog age"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>