<!DOCTYPE html>
<html>
<head>
    <title>New Dog</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">New Dog</h1>
<form name="dog" method="POST" action="/dogs/new">
    <table>
        <tr>
            <% if (!failedFields) { var failedFields = []} %>
            <% if (!values) { var values = {}} %>
            <td>The dog’s name</td>
            <td><input type="text" id="dog-name" name="name" value=<%= values.name %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.fieldName === "name").forEach((error) => { %>
                        <li><%= error.errorMessage %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>
        <tr>
            <td>The dog’s age</td>
            <td><input type="number" id="dog-age" name="age" value=<%= values.age %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.fieldName === "age").forEach((error) => { %>
                        <li><%= error.errorMessage %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>
