<!DOCTYPE html>
<html>
<head>
    <title>Dog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1 class="title">DOGER</h1>
<form name="dogs" method="POST" >
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" id="nam" name="nam"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" id="age" name="age"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" id="sav" name="sav" value="sav" formaction="/dogs"></td>
        </tr>
    </table>
</form>
</body>
</html>
