<!DOCTYPE html>
<html>
  <head>
    <title>Dogs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 class="title">Create Dog</h1>
      <form method="POST">
         
          <label for="name">Dog name</label>
          <input type="text" name="name">
          <% if (errors.name) { %>
            <span id="error_name" style='color: red;'><%= errors.name %></span>
          <% } %>
          
          <br>

          <label for="age">Dog age</label>
          <input type="number" min="0" name="age">
          <% if (errors.age) { %>
            <span id="error_age" style='color: red;'><%= errors.age %></span>
          <% } %>

          <br>
          <button>Create</button>
      </form>
  </body>
</html>
