<!DOCTYPE html>
<html>
<head>
    <title>Add new dog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1 class="title">New dog</h1>
<form name="calculus" method="POST" action="/dogs">
    <table>
        <tr>
            <td>Dog Name</td>
            <td><input type="text" id="name" name="name"></td>
        </tr>
        <tr>
            <td>age</td>
            <td><input type="number" id="age" name="age"></td>
        </tr>
        <tr>
            <button> <a href="/dogs">Dogs</a></button>
            <td colspan="2"><input type="submit" value="Valider"></td>
        </tr>
    </table>
</form>
</body>
</html>
