<!DOCTYPE html>
<html>
<head>
    <title>Calculus</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1 class="title">ajouter un chien</h1>
<form name="dogs" method="POST" >
    <table>
        <tr>
            <td>name</td>
            <td><input type="text" id="name" name="name"></td>
        </tr>
        <tr>
            <td>age</td>
            <td><input type="number" id="age" name="age></td>
        </tr>
         <tr>
            <td colspan="2"><input type="submit" id="ajouter" name="ajouter" value="ajouter" formaction="/dogs"></td>
        </tr>
    </table>
</form>
</body>
</html>