<!DOCTYPE html>
<html>
<head>
    <title>Dogs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1 class="title">Add Dog in Database</h1>
<form name="dogs" method="POST" action="/dogs">
    <table>
        <tr>
            <td>name</td>
            <td><input type="varchar" id="name-operand" name="name"></td>
        </tr>
        <tr>
            <td>age</td>
            <td><input type="number" id="age-operand" name="age"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Add"></td>
        </tr>
    </table>
</form>
</body>
</html>
