<!DOCTYPE html>
<html>
  <head>
    <title>Dogs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 class="title">Dogs</h1>
      <% if(dogs === null) {%>
        No dogs found
      <% } else { %>
      <p><%= dogs.name %> - <%= dogs.age %></p>
      <% } %>
  </body>
</html>
