<!DOCTYPE html>
<html>
  <head>
    <title>Dog n°<%= dog.id %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 class="title">Dog n°<%= dog.id %></h1>
      <%= dog.name %> - <%= dog.age %><br>
      <a href="/dogs">Dogs</a>
  </body>
</html>