<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if(showTitle) { %>
      <h1 class="title">Users</h1>
    <% } %>
    <ul>
      <% users.forEach(user => { %>
        <li>
          <%= user.name %>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
